<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <div class="logo">
            <a href="./index.html">
                <!-- <h1 style="color: rgb(255, 255, 255); width: 4cm; height: 4cm;" class="h4 text-gray-900 mb-4">&nbsp;&nbsp;&nbsp;&nbsp;<img  src="assets/img/0.png">&nbsp;&nbsp;</h1> -->
            </a>
        </div><br>
        <div  class="nav-menu">
            <nav class="mainmenu mobile-menu">
                <ul>
                    <li class="active"><a routerLink="">ACCEUIL</a></li>
                    <li><a routerLink="/evenement">Evenement</a></li>
                    <!-- <li><a href="/cours">COURS</a></li> -->
                    <li><a routerLink="/activite">Activités</a></li>
                    <li><a href="/blog.html">Plannig</a></li>
                    <li><a href="/espace"> Espaces</a></li>
                    <li><a href="/profil">profil</a></li>
                    <li><a routerLink="/tarif">Tarif</a></li>
                    <li *ngIf="showAdminBoard"><a href="/admin">Dashboard</a></li>
                </ul>
            </nav>

            <a style="width: 3cm;" *ngIf="!isLoggedIn" routerLink="/register" class="primary-btn membership-btn">Inscrit</a>
            <a style="width: 4cm;" *ngIf="!isLoggedIn" routerLink="/login" class="primary-btn signup-b">Se Connecter</a>
            <a style="color: aliceblue; width: 4cm;" *ngIf="isLoggedIn" (click)="logout()" class="primary-btn signup-b">deconnexion</a>

            <!-- <a class="mb-1 mt-3 font-weight-semibold" style="color:aliceblue;">{{ prenom }}</a> -->
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
    <br>
    <br><br><br><br><br>
</header>
<!-- Header End -->


<router-outlet></router-outlet>
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Phone</span>
                    <p>(123) 118 9999 - (123) 118 9999</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Address</span>
                    <p>72 Kangnam, 45 Opal Point Suite 391</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="contact-option">
                    <span>Email</span>
                    <p>contactcompany@Gutim.com</p>
                </div>
            </div>
        </div>
        <div class="subscribe-option set-bg" data-setbg="assets/img/footer-signup.jpg">
            <div class="so-text">
                <h4>Subscribe To Our Mailing List</h4>
                <p>Sign up to receive the latest information </p>
            </div>
            <form action="#" class="subscribe-form">
                <input type="text" placeholder="Enter Your Mail">
                <button type="submit"><i class="fa fa-send"></i></button>
            </form>
        </div>
        <div class="copyright-text">
            <ul>
                <li><a href="#">Term&Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
            &copy;
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="footer-social">
                <a href="#"><i class="fa fa-facebook" ></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
