 <!-- Breadcrumb Section Begin -->
 <section class="breadcrumb-section set-bg" data-setbg="assets/img/breadcrumb/classes-breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Tarif</h2>
                    <div class="breadcrumb-option">
                        <a href="./index.html"><i class="fa fa-home"></i> ACCEUIL</a>
                        <span>Nos Tarifs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Membership Section Begin -->
<section class="membership-section spad">
    <div class="container">
        <div >
            <div  >
                <div class="membership-item">
                    <div class="mi-title"*ngFor="let tarif of listetarif">
                        <h4>{{tarif.id}}</h4>
                        <div class="triangle"></div>
                    <h2 class="mi-price" style="color: black;">{{tarif.prix}}</h2>
                    <ul>
                        <li>
                            <p style="color: aliceblue;">{{tarif.nom}}</p>
                            <span>{{tarif.description}}</span>
                        </li>
                        
                    </ul>
                    
                </div>
            </div>
            </div>
           
               
            
        </div>
    </div>
    <br>
</section>
<!-- Membership Section End -->


