

<form>
    <div class="mb-3"><label for="nom" class="form-label">Nom </label><input type="text"
        class="form-control" [(ngModel)]="us.nom"/>
    </div>
    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Prenom</label><input type="text"
        class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.prenom"></div>

    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Date de naissance</label><input type="text"
            class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.datenaiss"></div>

    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Email</label><input type="text"
                class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.email"></div>

    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Password</label><input type="text"
                    class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.password"></div>

    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Telephone</label><input type="text"
                        class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.telephone"></div>
         
    <div class="mb-3"><label for="exampleInputPassword1" class="form-label">Poid</label><input type="text"
                        class="form-control" id="exampleInputPassword1"  [(ngModel)]="us.poids"></div>
  
  
  
  
  
  
  
           
        
        <button type="submit"
      class="btn btn-primary" (click)="add()">Submit</button>
  </form>
  
  
  